@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.animate-scroll-left {
  animation: scroll-left 70s linear infinite;
}
